.scrolling-active .navbar {
    position: fixed;
    height: 12.5rem;
    width: 10.5rem;
    background: white;
    overflow: auto;
    border-radius: 0px 0px 10px 0px;
    transition: 0.34s ease-in;
}

https://drive.google.com/file/d/1ynjD7uLmNXQk1bL6oLoco-OMI9YchHti/view?usp=sharing -,
https://drive.google.com/file/d/1jV7SAVQVNjC9DkWE9DPCoxyiC6VPFhlX/view?usp=sharing -,
https://drive.google.com/file/d/1x-LuC_mGbmjQjy_QnzOcZMLAmaF_Ewbx/view?usp=sharing -,
https://drive.google.com/file/d/1eYzNQicjAGj4oPE75D5Nj4AgpuQdaYuy/view?usp=sharing -,
https://drive.google.com/file/d/1X3w9BdBmbvlB1Daff5AGATf4fvSg3QPa/view?usp=sharing -,
https://drive.google.com/file/d/1NcWh9ZXVdEOktOCUj7fKzugBKYvBlHpp/view?usp=sharing -,
https://drive.google.com/file/d/1CNGFjqzWoZMzn97OC-zxPOfh6g9Kx9gV/view?usp=sharing -,
https://drive.google.com/file/d/1TnYUcVqhXyHo6Bn1UgnSoz7XvTAcvydh/view?usp=sharing -,
https://drive.google.com/file/d/10g85E1sK0PFwYpndKQ1pIQLUagKwPRip/view?usp=sharing -,
https://drive.google.com/file/d/1ZA-_1sSEQD5mTRAyxTeY3GYeIXq2EeCc/view?usp=sharing -,
https://drive.google.com/file/d/1hUiJviuuxm4Z6PPRj_t_KhA5OzVU7QMv/view?usp=sharing -,
https://drive.google.com/file/d/1-6KZUhLS_FxQrNWrRnvXr11EAJP137ML/view?usp=sharing -,
https://drive.google.com/file/d/1S2fTG82ULbVJ16eh9_5P8HpFJXsbhrOT/view?usp=sharing -,
https://drive.google.com/file/d/1i6hFTvBQnseYLf2M0FDmqqgsdeOYUPi9/view?usp=sharing -,
https://drive.google.com/file/d/1HGDkYxJ4sKUfcLMQXD7CNs7bi74vxUi8/view?usp=sharing -,
https://drive.google.com/file/d/1Fw_4ed0LCw19Si_wxy7jtmx4lIazykLt/view?usp=sharing -,
https://drive.google.com/file/d/1whY3S30Acy6Px8hyVgrepZghasA_efhY/view?usp=sharing -,
https://drive.google.com/file/d/13n6FeLGJBmHdNkkC7OxFF_Orzx9wk-gM/view?usp=sharing -,
https://drive.google.com/file/d/1P6j0iCz1mrwTGzvV6AaiEqp-nwkwvi0x/view?usp=sharing -,
https://drive.google.com/file/d/1lTF8hWray_QuZlgkQ97RKAaK0_tjfzMy/view?usp=sharing -,
https://drive.google.com/file/d/18t-PHEuXVuzmr7jTuRaJsrPyNNftKwsD/view?usp=sharing -
https://drive.google.com/file/d/14-OoKA6ZEu5W8Oom1ZuXqSjNkHcoS_Jc/view?usp=sharing -
https://drive.google.com/file/d/17eQl3GQiVLcl2i_pTARD6UzMMMrAA6D_/view?usp=sharing -
https://drive.google.com/file/d/1PYe9KL9iQfTM4SYZbctwILMMQqfwXzze/view?usp=sharing -
https://drive.google.com/file/d/1bk5BgVBAGiphlL7ZLwnd20xzqiN8Ipju/view?usp=sharing -
https://drive.google.com/file/d/1iitebl2pgS8EehKyEP_nqEF7LPRe4782/view?usp=sharing -
https://drive.google.com/file/d/18O0wB7-5pFc_pjT61k9VKO3fjY9na9P9/view?usp=sharing -
https://drive.google.com/file/d/1F1Cal1t1V3fN-sfFXF_L1Ek_RRZnn402/view?usp=sharing -
https://drive.google.com/file/d/17oaw7Q7wkpU4WKa0T587AD361fT2xmwj/view?usp=sharing -
1F_TKv7iVAl7y-geUEAPqs82N3vifFXh3 -
1_OmT5R7kK_8NVzKVzpVvh4qwixSKzFAi -
1VXYG032o45TLx8WwfrnmCdeTt31_EkrC -
1KA_3fL5wXJQNoFz_HM4C2MZs1MK6HOcp -
18FDYBqeTVt4r1GOjo3-k8_QMQmJj4RxA
1g08HMKucZaihes14DLGqLGdV6WWZ1Aet
1T0IWab2mrYiM9_pSSlnx2RiHu_3Oq1lM
1WhYlTgpEQ77MLSS0OXoZfwFFrDoETomH
1-XV3TDBbv8F72spuV-D4IMQo4L-1wmyp
1ZaNa8g8FpMnMDnIH0WPbiFVPikaQDiAw
1w9U_LdyOz02H0C5jNEEqXCLrJSHvoAsb
1UlpwFBZgSbSup91iYDe2tjqjmrzOIPTq


/* Folder ID Google Drive */
https://drive.google.com/drive/folders/1u5ip5NzF5Pljm1Tk9TbffWcUpq_4xhcY?usp=sharing